.search_input {
    border: none;
    outline: none;
    width: 100%;
}

.main {
    display: flex;
    padding-right: 10%;
}

.main_left {
    display: grid;
    gap: 0.8rem;
    height: fit-content;
    width: 75%;
    overflow: scroll;
}

.main_left_details {
    display: flex;
    justify-content: space-between;
}

.profile_details {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile {
    height: 50px;
    min-width: 50px;
    /* max-width: 50px; */
    border-radius: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.sub {
    padding: 6px 14px;
    border-radius: 20px;
}

.like_details {
    display: flex;
    gap: 0.2rem;
    align-items: center;
}

.like {
    display: grid;
    place-items: center;
    height: 40px;
    width: 40px;
    border-radius: 100%;
}

.like:hover {
    background-color: rgb(222, 222, 222);
}

.create_comment {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.comment {
    width: 100%;
}

.create_comment>input {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.create_comment>button {
    padding: 7px 16px;
    border-radius: 20px;
    background-color: white;
    border: solid black 1px;
}

.create_comment>button:hover {
    background-color: rgb(222, 222, 222);
}

.comments {
    display: grid;
    padding-top: 20px;
    gap: 2rem;
    /* max-width: fit-content; */
}

.comment_data {
    /* width: fit-content; */
    display: flex;
    gap: 1rem;
    align-items: center;
    overflow: scroll;
}

.comment_reply {
    padding-left: 68px;
}

.main_right {
    display: grid;
    gap: 2rem;
    height: fit-content;
    padding: 0 2%;
    width: 25%;
    overflow: scroll;
}

@media (max-width: 1500px) {
    .main {
        padding-right: 0;
    }
}

@media (max-width: 900px) {
    .main_left {
        width: 100%;
        padding-right: 20px;
    }
    .main_right {
        display: none;
    }
}

@media (max-width: 450px) {
    .main_left_details {
        display: grid;
        gap: 0.5rem;
    }

    .profile {
        height: 30px;
        min-width: 30px;
        border-radius: 15px;
    }
}