<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
        <div>
            <img class="icon" src="{% static 'icons8-hamburger-menu.svg' %}" alt="">
            <a href="/">
                <img class="youtube" src="{% static 'YouTube-Logo.wine.svg' %}" alt="">
            </a>
        </div>
        <div>
            <div class="search">
                <input class="search_input" type="text">
                <img class="icon" src="{% static 'icons8-search.svg' %}" alt="">
            </div>
            <img class="hide icon" src="{% static 'microphone-svgrepo-com.svg' %}" alt="">
        </div>
        <div>
            <a href="/create/">
                <img class="icon" src="{% static 'add-video-icon.svg' %}" alt="">
            </a>
            <img class="hide icon" src="{% static 'notification-bell-svgrepo-com.svg' %}" alt="">
            {% if logged_user %}
                <a class="lb" href="{% url 'logout_view' %}">logout</a>
                <a href="/user/?uname={{logged_user.username}}">
                    {% if logged_user.profile_pic %}
                        <div style="background-image:url('{{logged_user.profile_pic}}')" class="header_profile">
                        </div>
                    {% else %}
                        <div style="background-image:url('{% static 'user-profile-avatar-svgrepo-com.svg' %}')" class="header_profile">
                        </div>
                    {% endif %}
                </a>
            {% else %}
                <a class="lb" href="{% url 'login_page' %}">login</a>
            {% endif %}
        </div>
    </header>
    <div class="home">
        <div class="sidebar">
            <div class="sidebar_ele">
                <a class="sidebar_button" href="/">
                    <img class="icon" src="{% static 'icons8-home.svg' %}" alt="">
                    <p>Home</p>
                </a>
                <a class="sidebar_button" href="">
                    <img class="icon" src="{% static 'icons8-youtube-shorts.svg' %}" alt="">
                    <p>Shorts</p>
                </a>
                <a class="sidebar_button" href="">
                    <img class="icon" src="{% static 'video-playlist-icon.svg' %}" alt="">
                    <p>subscriptions</p>
                </a>
        </div>
        <div class="sidebar_ele">
            <p>You</p>
                <a class="sidebar_button" href="">
                    <img class="icon" src="{% static 'user-channel(1).svg' %}" alt="">
                    <p>Your channel</p>
                </a>
                <a class="sidebar_button" href="">
                    <img class="icon" src="{% static 'history-svgrepo-com.svg' %}" alt="">
                    <p>History</p>
                </a>
                <a class="sidebar_button" href="">
                    <img class="icon" src="{% static 'play-1008-svgrepo-com.svg' %}" alt="">
                    <p>Your Video</p>
                </a>
                <a class="sidebar_button" href="">
                    <img class="icon" src="{% static 'watch-later.svg' %}" alt="">
                    <p>Watch later</p>
                </a>
                <a class="sidebar_button" href="">
                    <img class="icon" src="{% static 'like-svgrepo-com.svg' %}" alt="">
                    <p>liked videos</p>
                </a>
        </div>
        </div>
        <div class="main">
            <div class="filter">
            </div>
            <div class="content">
                {% for video in videos %}
                    <div> 
                        <a href="/video/?id={{ video.id }}">
                            <!-- <img class="video" src="{{ video.url }}" alt=""> -->
                            <video class="vid">
                                <source src="{{video.url}}" type="video/mp4">
                            </video> 
                            <!-- <img src="{{video.url}}" alt=""> -->
                            <div class="content_detail">
                                <a href="/user/?uname={{ video.uploaded_by.username }}">
                                    {% if video.uploaded_by.profile_pic %}
                                        <div style="background-image:url('{{video.uploaded_by.profile_pic}}')" class="header_profile">
                                        </div>
                                    {% else %}
                                        <div style="background-image:url('{% static 'user-profile-avatar-svgrepo-com.svg' %}')" class="header_profile">
                                        </div>
                                    {% endif %}
                                </a>
                                <div>
                                    <a href="/video/?id={{ video.id }}"><p>{{ video.title }}</p></a>
                                    <a href="/user/?uname={{ video.uploaded_by.username }}">{{ video.uploaded_by.username }}</a>
                                </div>
                            </div>
                        </a>
                    </div> 
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>